<div class="container mt-5">
    <h1 class="text-center mb-3 text font-weight-bold">Update User Form</h1>
    <form #for="ngForm" (ngSubmit)="for.form.valid && onSubmit(for.value)">
        <div class="form-group">
            <label for="email">
                Enter ID :
            </label>
            <input type="text" class="form-control" name="id" ngModel required [(ngModel)]=ids #email1="ngModel"
                autocomplete="off">
            <div *ngIf="email1.errors && (email1.dirty || email1.touched || for.submitted)">
                <div *ngIf="email1.errors?.required" class="error">
                    Id is Required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">
                Enter Name :
            </label>
            <input type="text" class="form-control" name="name" ngModel required [(ngModel)]=names #name="ngModel"
                autocomplete="off" maxlength="7">
            <div *ngIf="name.errors && (name.dirty || name.touched || for.submitted)">
                <div *ngIf="name.errors?.required" class="error">
                    Name is Required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">
                Enter Age :
            </label>
            <input type="text" class="form-control" name="age" ngModel required [(ngModel)]=ages #age="ngModel"
                autocomplete="off">
            <div *ngIf="age.errors && (age.dirty || age.touched || for.submitted)">
                <div *ngIf="age.errors?.required" class="error">
                    Age is Required.
                </div>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-warning">
    </form>
</div>